<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
  <title>Панель управления</title>
</head>
<body>
<section layout:fragment="header">
  <h1>
    Загрузка изображений
    <small>Панель управления</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Главная страница</a></li>
    <li class="active">Панель управления</li>
  </ol>
</section>
<div layout:fragment="content">
  <div class="row">
    <div class="col-md-12">
      <!-- Horizontal Form -->
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Загрузка изображений</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->


        <form th:object="${imageData}" method="post" th:action="@{/exam/load}" enctype="multipart/form-data">
        <div class="card mb-4">
          <div class="card-body">
            <div class="form-group">
              <label for="newPictures">Загрузка изображений</label>
              <input th:field="*{multipartFile}" type="file" class="form-control" id="newPictures"
              placeholder="Upload new product picture" multiple>
            </div>
            <div class="form-row">
              <div class="col form-group">
                <label for="newPictures">Выберите ID карточки осмотра</label>
                <select class="form-control" th:field="*{patientExams}">
                  <option value="">Select...</option>
                  <option th:each="c : ${patientExams}" th:utext="${c.getId()}" th:value="${c.id}"/>
                </select>
              </div>
              <div class="form-group">
                <!--<<input class="btn btn-primary btn-block" name="submit" type="submit" value="submit" />-->
                <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
              </div>
            </div>
          </div>
        </div>
        </form>


      </div>
      <!-- /.box -->
    </div>
  </div>
</div>

<th:block layout:fragment="script">
  <script>

  </script>
</th:block>




</body>

</html>





<!-- <form th:object="${imageData}" method="post" th:action="@{/exam/load}" enctype="multipart/form-data">
  <div class="card mb-4">
    <div class="card-body">
      <div class="form-group">
        <label for="newPictures">Product image</label>
        <input th:field="*{multipartFile}" type="file" class="form-control" id="newPictures"
               placeholder="Upload new product picture" multiple>
      </div>
      <div class="form-row">
        <div class="col form-group">
          <select th:field="*{patientExam}">
            <option th:each="c : *{patientExam}" th:text="${c.getAnamnez()}" th:value="${c.exam_id}"/>
          </select>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
        </div>
      </div>
    </div>
  </div>
</form> -->


