<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Панель управления</title>
</head>
<body>
<section layout:fragment="header">
    <h1>
        Мой профиль
        <small>Панель управления</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Главная страница</a></li>
        <li class="active">Панель управления</li>
    </ol>
</section>
<div layout:fragment="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Мой профиль</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="box-footer center">

               </div>
                     <div th:if="${param.success}">
                         <div class="alert alert-success alert-dismissible">
                             <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                             <h4><i class="icon fa fa-check"></i> Успешно!</h4>
                            Информация сохранена.
                         </div>
                     </div>
                     <div th:if="${param.deleted}">
                         <div class="alert alert-info alert-dismissible">
                             <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                             <h4><i class="icon fa fa-check"></i> Удалено!</h4>
                             Информация удалена.
                         </div>
                     </div>

                     <div class="row">
                         <div class="col-sm-12">
                             <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                                    aria-describedby="example1_info">
                                 <thead class="thead">
                                 <tr>
                                     <th>Имя</th>
                                     <th>Фамилия</th>
                                     <th>Электронная почта</th>
                                     <th>Роль</th>
                                     <th>Активен ли</th>
                                     <th>Пароль</th>
                                     <th> </th>
                                 </tr>
                                 </thead>
                                 <tbody>
                                 <tr th:each="profiles : ${listProfiles}">
                                     <td th:text="${profiles.firstName}">Имя</td>
                                     <!--<td th:each="productType : ${productTypes}"
                                         th:if="(${productType.id} == ${product.productTypeId})"
                                         th:text="${productType.name}">Product Type
                                     </td>-->
                                    <td th:text="${profiles.lastName}">Фамилия</td>
                                    <td th:text="${profiles.email}">Электронная почта</td>
                                    <td th:each="role : ${profiles.roles}">
                                        <p th:text="${role.name}"></p>
                                    </td>
                                    <td th:text="${profiles.active}">Активен ли</td>
                                    <td th:text="${profiles.password}">Пароль</td>
                                    <td>
                                        <a href="#" class="btn btn-primary btn-xs purple editView" title="Edit" th:href="@{'/profile/edit/' + ${profiles.id}}"><i class="fa fa-edit"></i> Редактировать</a>
                                        <a href="#" class="btn btn-danger btn-xs purple deleteView" title="Delete" th:href="@{'/profile/delete/' + ${profiles.id}}"><i class="fa fa-trash-o"></i> Удалить</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--</div>-->

                     <div class="dataTables_paginate paging_bootstrap">
                         <ul th:if="${listProfiles.totalPages > 0}" th:each="pageNumber : ${pageNumbers}"  class="pagination">
                             <li th:class="${pageNumber==bookPage.number + 1} ? active">
                                 <a th:href="@{/profile/list(search=${param.search},size=${listProfiles.size}, page=${pageNumber})}"
                                    th:text=${pageNumber}>
                                 </a>
                             </li>
                         </ul>
                     </div>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</div>


<th:block layout:fragment="script">
    <script>
        $(function () {

            $('#example1').DataTable({
                'paging'      : true,
                'lengthChange': false,
                'searching'   : true,
                'ordering'    : true,
                'info'        : true,
                'autoWidth'   : false
            })

            jQuery('#example1_wrapper input').addClass("form-control input-sm"); // modify table search input
        })


    </script>
</th:block>
</body>

</html>