<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Панель управления</title>
</head>
<body>
<section layout:fragment="header">
    <h1>
        Мой профиль
        <small>Панель управления</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Главная страница</a></li>
        <li class="active">Мой профиль</li>
    </ol>
</section>
<div layout:fragment="content">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Мой профиль</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img alt="" style="width:300px;" title="" class="img-circle img-thumbnail isTooltip" src="https://bootdey.com/img/Content/avatar/avatar7.png" data-original-title="Usuario">
                                        </div>
                                        <div>
                                            <strong>Информация о профиле</strong><br>
                                            <!--НАЧАЛО ТАБЛИЦЫ -->
                                            <div class="table-responsive">
                                                <table class="table table-user-information">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col" >Имя</th>
                                                            <th scope="col" >Фамилия</th>
                                                            <th scope="col" >Электронная почта</th>
                                                            <th scope="col" >Активен ли</th>
                                                            <th scope="col" >Роль</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td th:text="${myprofile.firstName}"/>
                                                            <td th:text="${myprofile.lastName}"/>
                                                            <td th:text="${myprofile.email}"/>
                                                            <td th:text="${myprofile.active}"/>
                                                            <td th:each="role : ${myprofile.roles}">
                                                                <p th:text="${role.name}"></p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
</div>



<th:block layout:fragment="script">
    <script>
        $(function () {

            $('#example1').DataTable({
                'paging'      : true,
                'lengthChange': false,
                'searching'   : true,
                'ordering'    : true,
                'info'        : true,
                'autoWidth'   : false
            })

            jQuery('#example1_wrapper input').addClass("form-control input-sm"); // modify table search input
        })


    </script>
</th:block>
</body>

</html>